<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
  <add name="CollectionContainer" connectionString="metadata=res://*/Core.Database.Collection.csdl|res://*/Core.Database.Collection.ssdl|res://*/Core.Database.Collection.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Greg\Documents\Visual Studio 2010\Projects\Howler\Howler\bin\howler.db&quot;'" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>